
.img {
  text-align: center;
}

:root {
  --gradient: linear-gradient(to left top, #009dff 10%, #b8e0f9 90%) !important;
}

body {
  background: rgb(255, 255, 255) !important;
}

.card {
  background: rgb(255, 255, 255);
  border: 2px solid #009dff;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
}

.btn {
  margin: auto;
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  border: 5px solid rgb(255, 255, 255) !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}